# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Logs
*.log

# Cache e checkpoint
cache/
*.db
*.db-journal
*.db-shm
*.db-wal
checkpoint.json

# Test
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
